elasticsearch==8.13.0
pymongo==4.7.1
python-dotenv==1.0.1
requests==2.31.0
streamlit==1.35.0
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
arize-phoenix-otel==0.15.0